
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #e0eafc, #cfdef3);
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
  }
